src/veebiteenused/TwitterPortTypeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://veebiteenused.ttu.ee" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://veebiteenused.ttu.ee" name="TwitterPortTypeService">
<types>
<xsd:schema>
<xsd:import namespace="http://veebiteenused.ttu.ee" schemaLocation="http://wmli118190:8080/soap_api/TwitterPortTypeService?xsd=1"/>
</xsd:schema>
</types>
<message name="GetComment">
<part name="parameter" element="tns:GetCommentRequest"/>
</message>
<message name="GetCommentResponse">
<part name="parameter" element="tns:GetCommentResponse"/>
</message>
<message name="AddCommentToTweet">
<part name="parameter" element="tns:AddCommentToTweetRequest"/>
</message>
<message name="AddCommentToTweetResponse">
<part name="parameter" element="tns:AddCommentToTweetResponse"/>
</message>
<message name="GetTweet">
<part name="parameter" element="tns:GetTweetRequest"/>
</message>
<message name="GetTweetResponse">
<part name="parameter" element="tns:GetTweetResponse"/>
</message>
<message name="AddTweet">
<part name="parameter" element="tns:AddTweetRequest"/>
</message>
<message name="AddTweetResponse">
<part name="parameter" element="tns:AddTweetResponse"/>
</message>
<message name="GetTweets">
<part name="parameter" element="tns:GetTweetsRequest"/>
</message>
<message name="GetTweetsResponse">
<part name="parameter" element="tns:GetTweetsResponse"/>
</message>
<message name="GetComments">
<part name="parameter" element="tns:GetCommentsRequest"/>
</message>
<message name="GetCommentsResponse">
<part name="parameter" element="tns:GetCommentsResponse"/>
</message>
<message name="GetTweetComments">
<part name="parameter" element="tns:GetTweetCommentsRequest"/>
</message>
<message name="GetTweetCommentsResponse">
<part name="parameter" element="tns:GetTweetCommentsResponse"/>
</message>
<portType name="TwitterPortType">
<operation name="GetComment">
<input wsam:Action="http://veebiteenused.ttu.ee/TwitterPortType/GetCommentRequest" message="tns:GetComment"/>
<output wsam:Action="http://veebiteenused.ttu.ee/TwitterPortType/GetCommentResponse" message="tns:GetCommentResponse"/>
</operation>
<operation name="AddCommentToTweet">
<input wsam:Action="http://veebiteenused.ttu.ee/TwitterPortType/AddCommentToTweetRequest" message="tns:AddCommentToTweet"/>
<output wsam:Action="http://veebiteenused.ttu.ee/TwitterPortType/AddCommentToTweetResponse" message="tns:AddCommentToTweetResponse"/>
</operation>
<operation name="GetTweet">
<input wsam:Action="http://veebiteenused.ttu.ee/TwitterPortType/GetTweetRequest" message="tns:GetTweet"/>
<output wsam:Action="http://veebiteenused.ttu.ee/TwitterPortType/GetTweetResponse" message="tns:GetTweetResponse"/>
</operation>
<operation name="AddTweet">
<input wsam:Action="http://veebiteenused.ttu.ee/TwitterPortType/AddTweetRequest" message="tns:AddTweet"/>
<output wsam:Action="http://veebiteenused.ttu.ee/TwitterPortType/AddTweetResponse" message="tns:AddTweetResponse"/>
</operation>
<operation name="GetTweets">
<input wsam:Action="http://veebiteenused.ttu.ee/TwitterPortType/GetTweetsRequest" message="tns:GetTweets"/>
<output wsam:Action="http://veebiteenused.ttu.ee/TwitterPortType/GetTweetsResponse" message="tns:GetTweetsResponse"/>
</operation>
<operation name="GetComments">
<input wsam:Action="http://veebiteenused.ttu.ee/TwitterPortType/GetCommentsRequest" message="tns:GetComments"/>
<output wsam:Action="http://veebiteenused.ttu.ee/TwitterPortType/GetCommentsResponse" message="tns:GetCommentsResponse"/>
</operation>
<operation name="GetTweetComments">
<input wsam:Action="http://veebiteenused.ttu.ee/TwitterPortType/GetTweetCommentsRequest" message="tns:GetTweetComments"/>
<output wsam:Action="http://veebiteenused.ttu.ee/TwitterPortType/GetTweetCommentsResponse" message="tns:GetTweetCommentsResponse"/>
</operation>
</portType>
<binding name="TwitterPortTypePortBinding" type="tns:TwitterPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddCommentToTweet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetTweet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddTweet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetTweets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetComments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetTweetComments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TwitterPortTypeService">
<port name="TwitterPortTypePort" binding="tns:TwitterPortTypePortBinding">
<soap:address location="http://wmli118190:8080/soap_api/TwitterPortTypeService"/>
</port>
</service>
</definitions>